<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.king.mapper.EmpMapper">
    <!--分页条件查询（带姓名模糊搜索、性别、入职日期区间筛选）-->
    <select id="list" resultType="org.king.pojo.Emp">
        select e.*, d.name deptName from emp e left join dept d on e.dept_id = d.id
        <where>
            <if test="name != null and name != ''">
                and e.name like concat('%', #{name}, '%')
            </if>
            <if test="gender != null">
                and e.gender = #{gender}
            </if>
            <if test="begin != null">
                and e.entry_date &gt;= #{begin}
            </if>
            <if test="end != null">
                and e.entry_date &lt;= #{end}
            </if>
        </where>
        order by e.update_time desc
    </select>
    <!--统计员工职位人数-->
    <select id="countEmpJobData" resultType="java.util.Map">
        select
            (case when emp.job=1 then '班主任'
                  when emp.job=2 then '讲师'
                  when emp.job=3 then '学工主管'
                  when emp.job=4 then '教研主管'
                  when emp.job=5 then '咨询师'
                  else '其他' end )pos,
            count(*) num
        from emp group by job order by num
    </select>
    <!--统计职工性别人数-->
    <select id="countEmpGenderData" resultType="java.util.Map">
        select
            if(emp.gender = 1,'男性职工','女性职工')name,
            count(*) value
        from emp group by gender
    </select>
</mapper>
